/* ------------------------------------------------------- Utilities */

.hide {
    display: none;
}

.progress {
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 80vw;
    height: 40px;
    border: 1px solid black;
    background-color: #ffc106;
}

.progress.progress-bar {
    width: 70%;
    background-color: #272727;
}

.progress.progress-bar-image {
    width: 67px;
    position: absolute;
    left: 30%;
    top: -5px;
}