@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Neucha&display=swap');
/* ------------------------------------------------------- Resets */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000000;
	overflow: hidden;
	color: #fe5404;
	text-align: center;
	font-family: 'Neucha', cursive;
}

button {
    position: relative;
    z-index: 3;
}

/* ------------------------------------------------------- Utilities */

.hide {
	display: none !important;
}

.scale-0 {
    transform: scale(0);
}

.btn {
	border-radius: 20px;
	box-shadow: 2px 2px 2px #000;
	border: 0;
	text-align: center;
    padding: 5px;
	font-family: 'Finger Paint', cursive;
	background-color: #ff8c00;
	color: black;
    cursor: pointer;
}

.header-br {
    display: none;
}

/* ------------------------------------------------------- Header / Footer */

header {
	height: 4rem;
	font-family: 'Finger Paint', cursive;
	text-shadow: #ff8c00 .1rem .1rem;
}

h1 {
	font-size: 3rem;
}

footer {
	height: 3rem;
	font-size: 2rem;
	text-shadow: #ff8c00 .05rem .05rem;
	font-family: 'Finger Paint', cursive;
}

.pumpkin1, .pumpkin2 {
    width: auto;
    height: 65px;
    position: absolute;
    top: 0;
}

.pumpkin1 {
    left: 10px;
}

.pumpkin2 {
    right: 10px;
}

/* ---------------------------------------------------- Page Animation */

@keyframes flip-page {
    0% {
        transform: translate(100%, 0) rotate3d(0, 1, 0, 180deg);
    }

    20% {
        transform: translate(96.5%, 0) rotate3d(0, 3, 0.1, 155deg);
    }

    40% {
        transform: translate(85%, 0) rotate3d(0, 3, 0.4, 125deg);
    }

    50% {
        transform: translate(80%, 0) rotate3d(0, 4, 1, 105deg);
    }
}

/* ---------------------------------------------------- Page */

.page {
	position: relative;
	width: calc(100vw - 1rem);
	height: calc(100vh - 9rem);
	border-radius: 2rem;
	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-fill-mode: backwards;
	font-size: 1.6rem;
	font-style: italic;
}

.image-holder {
    margin: 0 auto 1rem;
    height: 18rem;
    width: 50%;
    background-color: #6600ff55;
}

/* ---------------------------------------------------- Page contents */

#paragraph-container {
    background-color: #00000088;
    height: 11rem;
    width: 80%;
    border-radius: 2rem;
    margin: -1.5rem auto;
    position: relative;
}

#paragraph-404-container {
    background-color: #00000088;
    height: 9rem;
    width: 80%;
    border-radius: 2rem;
    margin: auto;
    position: relative;
}

.paragraph-holder {
    padding: .5rem 1.5rem;
    height: 10rem;
    width: 100%;
    position: absolute;
    display: table;
    /* may need to change this for mobiles to allow scrolling through text? */
    /* overflow-y: scroll; */
}

.page p {
    display: table-cell;
    vertical-align: middle;
    /* use for sound effects in JS? */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions */
    transition: transform 2s;
}

.page.current {
	background: url(../img/background/forest-bg-1.webp) no-repeat center center / cover;
    z-index: 3;
}

.page.waiting {
	background: url(../img/background/forest-bg-1.webp) no-repeat center center / cover;
    position: absolute;
    top: 5rem;
    z-index: 2;
}

.page.gameover {
	background: url(../img/gameover_bg.jpg) no-repeat center center / cover;
}

/* ---------------------------------------------------- Previous / Next buttons */

.page-btn {
    padding: 10px;
    vertical-align: middle;
    position: absolute;
    top: -82%;
}

.next-prev-button-container {
    position: absolute;
    top: 23%;
    left: 0;
    width: 100%;
}

#previous-btn,
.left-choice {
    left: 14%;
}

#next-btn,
.right-choice {
    right: 17%;
}

#next-page {
    right: 13.5%;
}

.choice-container {
    position: absolute;
    top: 23%;
    width: 55%;
    left: 23%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "red-potion purple-potion blue-potion";
    justify-items: center;
}

#red-btn {
    grid-area: red-potion;
}

#purple-btn {
    grid-area: purple-potion;
}

#blue-btn {
    grid-area: blue-potion;
}

#purple-btn img,
#red-btn img,
#blue-btn img {
    height: 125px;
}

/* ---------------------------------------------------- Audio button */

.audio-container {
    position: absolute;
    top: 15%;
    left: 3%;
    z-index: 6;
}

/* ---------------------------------------------------- General */

main {
	height: calc(100vh - 7rem);
	background-color: #3e2a57;
	padding: 1rem .5rem;
}

/* ---------------------------------------------------- Modal */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(0, 0, 0, 0.7);
	z-index: 5;
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "button1 button2";
    background: url("../img/pumpkins.webp") no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: 10;
    border: 2px solid black;
    box-shadow: 2px 2px 2px #000;
    border-radius: 50px;
    font-family: 'Finger Paint', cursive;
}

.modal-text {
	grid-area: header;
	width: 75%;
	margin: auto;
	margin-top: 25px;
	background-color: black;
	padding: 20px;
	border-radius: 25px;
}

.modal-child-btn {
	grid-area: button1;
	background-color: #ff8c00;
}

.modal-adult-btn {
	grid-area: button2;
	background-color: #fe5404;
}

.modal-btn {
	border-radius: 10px;
	box-shadow: 2px 2px 2px #000;
	border: 0;
    padding: 0 5px;
	width: 80%;
	height: 50%;
	text-align: center;
	margin: auto;
    font-size: inherit;
    line-height: inherit;
	font-family: 'Finger Paint', cursive;
}

.modal-grid a,
.paragraph-holder-grid a {
    text-decoration: none;
}

.modal-grid a:visited,
.paragraph-holder-grid a:visited {
    color: black;
}

/* ----------------------------------------------------  Progress Bar */

#progress-container {
	position: relative;
	top: -3.5rem;
	height: 2rem;
    z-index: 3;
}

#progress {
	position: relative;
	left: 50%;
	height: inherit;
	transform: translateX(-50%);
	width: 80vw;
	border: 1px solid black;
	background-color: #ffc106;
	border-radius: 1.5rem;
}

#progress-bar {
	position: relative;
	width: 0;
	height: inherit;
	background-color: #272727;
	border-radius: 1.5rem;
}

#progress-image {
	top: -1px;
	border-radius: 1.75rem;
	right: -23px;
	width: 4rem;
	position: absolute;
    height: inherit;
}

.win-loose {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: inherit;
}

.win-loose img {
	position: absolute;
	right: 0;
	width: 100px;
	z-index: 10;
}

#gravestone {
	bottom: 0px;
	right: -1.7rem;
}

#heart {
	bottom: -0.5rem;
	right: -1rem;
}

#potion {
	bottom: -0.5rem;
	right: -1rem;
    height: 65px;
    width: auto;
}

/* ----------------------------------------------------  User name input */

.user-name-input-grid {
	position: relative;
    bottom: 20px;
	display: grid;
	width: 30%;
	margin: auto;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "input btn";
	grid-gap: 20px;
	height: 40px;
}

.username-btn {
	grid-area: btn;
}

.username-input {
	grid-area: input;
	border-radius: 20px;
	padding: 10px;
    z-index: 3;
}

.user-name-input-grid,
#paragraph-container {
    bottom: 2.5rem;
}

/* ---------------------------------------------------- Static Images */

#content-image {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-image img {
    border-radius: 5%;
    height: 90%;
    width: auto;
}

/* ---------------------------------------------------- Avatars */

@keyframes walkoff {
    0% {
        visibility: visible;
    }
    99% {

    }
    100% {
        left: 155%;
        visibility: hidden;
    }
}

.walking-zombie {    
    animation-duration: 8s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

#girl_walk {
    position: absolute;
    width: 125px;
    height: 201px;
    top: 1.5rem;
    left: 45%;
}

#boy_walk {
    position: absolute;
    width: 116px;
    height: 195px;
    top: 3.9rem;
    left: 62%;
}

#woman_walk {
    position: absolute;
    width: 128px;
    height: 215px;
    top: 1.3rem;
    left: 47%;
}

#man_walk {
    position: absolute;
    width: 100px;
    height: 189px;
    top: 4rem;
    left: 65%;
}

.girl {
    width: 135px;
    height: 169px;
    background: url(../img/girl_idle_frame0.png) no-repeat center center / cover;
}

.girl:hover,
.girl:focus {
    width: 126px;
    height: 169px;
    background: url(../img/girl_idle_frame1.png) no-repeat center center / cover;
}

.static-image .man,
.static-image .boy {
    position: absolute;
    left: 61%;
    top: 4rem;
}

.boy {
    width: 89px;
    height: 183px;
    background: url(../img/boy_idle_frame0.png) no-repeat center center / cover;
}

.boy:hover,
.boy:focus {
    width: 88px;
    height: 189px;
    background: url(../img/boy_idle_frame1.png) no-repeat center center / cover;
}

.man {
    width: 105px;
    height: 181px;
    background: url(../img/man_idle_frame0.png) no-repeat center center / cover;
}

.man:hover,
.man:focus {
    width: 110px;
    height: 179px;
    background: url(../img/man_idle_frame1.png) no-repeat center center / cover;
}

.static-image .woman,
.static-image .girl {
    position: absolute;
    left: 45%;
    top: 3rem;
}

.woman {
    width: 110px;
    height: 183px;
    background: url(../img/woman_idle_frame0.png) no-repeat center center / cover;
}

.woman:hover,
.woman:focus {
    width: 133px;
    height: 210px;
    background: url(../img/woman_idle_frame1.png) no-repeat center center / cover;
}

.candy {
    width: 105px;
    height: 243px;
    background: url(../img/candy_idle_frame0.png) no-repeat center center / cover;
}

.static-image .candy {
    position: absolute;
    left: 32%;
    top: 2rem;
}

.static-image .candy:hover,
.static-image .candy:focus {
    width: 137px;
    height: 234px;
    background: url(../img/candy_idle_frame1.png) no-repeat center center / cover;
}

/* ----------------------------------------------------  Spider */

.little-spider {
    position: absolute;
    top: 1rem;
    right: 11%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0.1vh;
    transition: all 8s;
    z-index: 3;
}

.spider-web {
    position: relative;
    width: 2px;
    height: 6rem;
    background-color: #faebd7;
    flex-grow: 2;
    transition: all 8s;
}

.spider-container {
    width: 50px;
    height: 1px;
}

#spider {
    top: 5rem;
    width: 50px;
    height: auto;
    z-index: 3;
}

@keyframes nudge {
    0% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    70% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

/* ------------------------------------------------------- 404 page */

.paragraph-holder-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "page-404"
        "oh-no"
        "safety-btn";
    grid-row-gap: 10px;
    margin-top: 20px;
}

#page-404 {
    grid-area: page-404;
}

#oh-no {
    grid-area: oh-no;
}

#safety-btn {
    grid-area: safety-btn;
}

/* ----------------------------------------------------  Media queries */

@media screen and (max-width: 1140px) {
    .user-name-input-grid {
        width: 50%;
    }

    .modal-grid {
        width: 60%;
        left: 20%;
    }
    
    .modal-text {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
    #next-btn,
    #next-page {
        right: 2%;
    }

    #previous-btn {
        left: 2%;
    }

    footer {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 850px) {
    .image-holder {
        width: 60%;
    }

    .static-image .man,
    .static-image .boy {
        left: 63%;
    }

    .static-image .woman,
    .static-image .girl {
        left: 41%;
    }

    .static-image .candy {
        left: 21%;
    }

    .modal-btn {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .user-name-input-grid {
        width: 70%;
    }

    .modal-grid {
        width: 80%;
        left: 10%;
    }
    
    .modal-text {
        width: 85%;
    }
}

@media screen and (max-width: 680px) {
    .page, footer {
        font-size: 1.4rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .static-image .man,
    .static-image .boy {
        left: 59%;
    }

    .static-image .woman,
    .static-image .girl {
        left: 39%;
    }
}

@media screen and (max-width: 585px) {
    .user-name-input-grid {
        width: 85%;
    }

    .modal-grid h2 {
        font-size: 1.3rem;
    }
    
    .modal-text {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 2rem;
    }

    .page {
        height: calc(100vh - 10rem);
        font-size: 1rem;
    }

    .image-holder {
        height: 18rem;
        width: 80%;
    }

    .static-image .man,
    .static-image .boy {
        left: 65%;
    }

    .static-image .woman,
    .static-image .girl {
        left: 36%;
    }

    .static-image .candy {
        left: 12%;
        top: 2.5rem;
    }

    .paragraph-holder {
        padding: 0 1rem;
        height: 7rem;
    }

    #paragraph-container {
        height: 8rem;
    }

    #border {
        border-width: 3rem;
    }

    .next-prev-button-container {
        top: 0;
    }

    #next-btn {
        right: 10%;
    }

    #next-page {
        right: 6%;
    }

    #previous-btn {
        left: 8%;
    }

    #purple-btn img,
    #red-btn img,
    #blue-btn img {
        height: 100px;
    }

    .choice-container {
        width: 74%;
        left: 13%;
    }

    .modal-grid {
        top: 25%;
    }

    .modal-btn {
        width: 90%;
        font-size: 0.7rem;
    }

    .audio-container {
        top: 13%;
        left: 41%;
    }

    .toggle {
        display: none;
    }

    #progress-container {
        top: -0.5rem;
    }

    footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 460px) {
    h1 {
        font-size: 1.7rem;
    }

    .image-holder, #paragraph-container {
        margin: auto;
        width: 90%;
    }

    .user-name-input-grid {
        bottom: 0;
    }

    .static-image .man,
    .static-image .boy {
        left: 67%;
    }

    .static-image .candy {
        left: 6%;
    }

    .audio-container {
        left: 46%;
    }

    .page-btn .fas {
        display: none;
    }

    #next-btn {
        right: 7%;
    }

    #next-page {
        right: 6%;
    }

    #previous-btn {
        left: 5%;
    }

    #progress-image {
        right: -38px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        font-size: 0.8rem;
    }
    
    .static-image .man,
    .static-image .boy {
        left: 64%;
    }

    .static-image .woman,
    .static-image .girl {
        left: 33%;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    .header-br {
        display: inline-block;
    }

    .audio-container {
        left: 43%;
    }

    .avatars {
        transform: scale(0.8);
    }

    .modal-grid h2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 350px) {
    .static-image .man,
    .static-image .boy {
        left: 59%;
    }

    .static-image .woman,
    .static-image .girl {
        left: 27%;
    }

    .static-image .candy {
        left: 2%;
    }
}